
.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

main{
    max-width: 1140px;
    margin: 0 auto;
}
body{
    background-color: #F5F8FF;
    font-family: inter;
}
/* Shared Style */
.btn-primary{
    background-color: #4E47FF;
    padding: 12px 36px;
    font-weight: 600;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    width: 132px;
    height: 48px;
}

/* style for header */
.header{
   background-image: url("../assets/hero-bg.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 698px;  

}
nav{
    padding: 0px 151px 0px;
    margin-bottom: 150px;
}
.website-name .logo{
    font-size: 34px;
    color: #4E47FF;
    font-weight: 900;
}
.website-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.heading{
   text-align: center;  
   margin-bottom: 152px;
   padding-right: 267px;
   padding-left: 267px;
}
.heading-title{
    font-size:30px;
    font-weight:900;
    text-align: center;
    margin-bottom: 85px;
    
}

.stay-focused{
    width: 174px;
    height: 48px;  
}

/* Action Section */
.action{
    display: flex;
    justify-content: space-between;
    padding: 62px 0px 62px;
}
.action-title h3{
    font-size: 42px;
    font-weight: bold;
    padding: 10px 0 10px;
}
.action-title p{
    font-size: 18px;
    color:#252432;
    font-weight:normal;
    opacity: 50%;
    padding: 10px 0 10px;
    
}
.live-preview{
    width: 250px;
    height: 48px;
    font-size: 16px;
    }
.action-image img{
    height:328px;
    width:403px;
    border-radius: 48px;
}
/* Productive User */
.productive-user{
    background-color: #E5E7FF;
    border-radius: 24px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    
}
.productive-user-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    padding: 50px 142px 20px 142px;
}
.users-container{
    display: flex;
    justify-content: space-evenly;
    
}
.users-container ul{
    list-style: none;
}

.title{
    list-style: none;
    text-align: center;
    font-family: inter;
    font-size: 20px;
    color:#737380;
}
.number {
    font-size: 80px;
    color:#4E47FF;
    font-weight: bold;
}

/* Get in Touch */


.get-in-touch{
    display:flex;
    justify-content:space-between;
    gap: 100px;
    align-items:center;
    padding: 40px 0px 40px 0px;

}
.get-in-touch-title{
    font-size: 80px;
    font-weight: bold;
  
}
.get-in-touch-form input[type="text"],input[type="email"]{
    display: block;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 10px 20px;
    margin: 10px 0px 10px 0px;
    
}
.get-in-touch-form textarea{
    width:400px;
    border-radius: 5px;
    background-color: white;
    display: block;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
    padding:10px 20px;
    margin: 10px 0px 10px 0px;
    
}

input::placeholder{
    font-size: 15px;
}
textarea::placeholder{
    font-size: 15px;
}

.label{
    font-size: 15px;
    text-align: left;
    padding: 15px 15px 15px 15px;
}
.get-in-touch-bt{
    width: 440px;
    height: 50px;
    border:none;
    border-radius: 5px;
    background-color: #4E47FF;
    color: white;
   
}

/* footer style*/

.footer{
    max-width: 1140px;
    margin: 0 auto;
    height: 428px;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 150px 455px 150px 455px;
}
.footer-logo h1{
    text-align: center;
    font-size: 70px;
    font-weight:900;
    color:#4E47FF;
    margin: 0;
    

}
.footer-subtitle{
    text-align: center;
    color: #8987A1;
    font-size: 15px;
    margin: 0;
    
}
nav{
    align-items: center;
}
.navigation ul{
    display: flex;
    justify-content: center;
}
.navigation nav ul li{
    
    list-style: none;
    color: #8987A1;
}
.footer-nav{
    padding: 10px;
}

.navigation a{
    text-decoration: none;
    color: #8987A1;
}

